$blue: #95e1d3;
$grey: #eaffd0;
$orange: #fce38a;
$red: #f38181;
$white: #ffffff;
$dark-grey: #333333;
$medium-grey: #999999;
$balck: #000000;

$orange-gradient: rgba(9, 5, 47, .5);
$red-gradient: rgba(255, 5, 47, .5);
